@import "tailwindcss";

@theme {
    --color-primary: #dc2626; /* Kırmızı rengimiz */
}

:root {
    background-color: white !important;
    color: black;
}

html, body, #root {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}