@import "tailwindcss";

@theme {
    --color-primary: #dc2626; /* Kırmızı rengimiz */
}

:root {
    background-color: white !important;
    color: black;
}

.sidebar-content {
    width: 380px;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .sidebar-content {
        width: 320px;
    }
}

html, body, #root {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}